html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > .header {
    flex: 1 0 400px;
    width: 100%;
    max-width: 100%;
    color: #fff;
    margin: 32px auto;

    & > div {
      margin: auto;
      width: fit-content;
    }
  
    & h1 {
      font-size: 80px;
      font-weight: bolder;
      margin: 0;

      @media (max-width: 800px) {
        font-size: 40px;
      }
    }
    & span {
      margin: 4px;
    }
  }

  & > .content {
    margin: 32px;
    border-radius: 8px;
    padding: 24px;
    flex: 1 0 50%;
    color: #fff;
    // background-color: #002036aa;
    background: linear-gradient(to bottom,#00203630 50%, #00203699 100%);;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 16px;

    & > .role {
      grid-column-start: 1;
      grid-column-end: 3;
      & li {
        margin: 12px 0;
      }
    }

    & > .rank, & > .loto-result {
      & > ol {
        height: fit-content;
        max-height: 240px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 12px;
          border-radius: 6px;
          background-color: #00000030;
        }
        &::-webkit-scrollbar-thumb {
          width: 12px;
          border-radius: 6px;
          background-color: #ffffff30;
        }
      }
      & li {
        margin: 12px 0;
      }
      @media (max-width: 800px) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    @media (max-width: 800px) {
      margin: 32px 12px;
      font-size: 0.8em;
      & ol {
        padding-left: 24px;
      }
    }
  }
}